@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    height: 80em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.header__logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 4em;
    line-height: 1;
    display: flex;
    align-items: center;
    color: #000;
}

.header__nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding: 1em 0 0 0;
    margin: 0;
}

.header__nav li a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.btn__login, .btn__register {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 2rem;
}

.btn__login {
    color: #555;
}

.btn__register {
    color: #555;
    border: 1px solid #555;
    border-radius: 1rem;
}

.flexbox{
    margin: 0 0 0 10em;
    height: 55em;
    padding: 1em;
    flex-direction: column;
}

.titulo{
    display: flex;
    position: relative;
    font-size: 3em;
    margin: 4em 0 1em 2em;
    width: 14em;
    height: 5em;
}

.conteudo{
    display: flex;
    color: #555;
    font-size: 1.6em;
    width: 24em;
    margin: 0 0 0 3.7em;
}

.btn{
    display: inline-block;
    padding: 1em 2em;
    margin: 3em 0 0 3.5em;
    background-color: #000;
    color: white;
    text-decoration: none;
    border-radius: 1em;
    font-weight: bold;
    font-size: 1.6em;
    transition: background-color 0.3s;
}

img{
    max-width: 100px;
}

.logos ul {
    display: flex;
    gap: 3em;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logos img {
    width: 8em;
    height: auto;
}

.logos{
    margin: 6em 0 0 6em;
}

.logo1 {
    position: absolute;
    right: 13em;
    top: 13em;
    width: 40em;
    height: auto;
    max-width: 100%;
    border-radius: 1em;
}